<h1>Welcome to the Bookings Site</h1>
<p>you've succesfully booked the flight as: <%= @user.email %></p>

<h5>To create a booking for a flight go to: <%= root_url %></h5>

<h3>Thank you for choosing to fly with us!</h3>